  [role="tooltip"] {
    animation: fadeOut 2s forwards;
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; display: none; }
  }

.collection-item {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  cursor: pointer;
}